<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="newspaper.css">
    <title>newspaper 排版</title>
</head>
<body>
<div class="header clearfix">
    <section class="page-color">
        <span>ife.baidu.com</span>
    </section>
    <section class="page-date">
        2016.03
    </section>
</div>

<section class="slider">
 
    <section class="banner clearfix">
        <img class="banner-img" src="./img/banner.png" alt="">
        <div class="overlay clearfix">
            <div class="overlay-green"></div>
            <div class="overlay-red"></div>
        </div>
    </section>
    <section class="content-table">
        <div class="title">
            About
        </div>
        <div class="title">
            Technology
        </div>
        <div class="title-description">
            About technology About technology About technology
        </div>
        <div class="number">700</div>
        <div class="serial clearfix">
            <div class="version">3.2</div>
            <div class="type">
                <div class="type-name">
                    css
                </div>
            <div class="type-description">
                csscsscsscsscss
            </div>
            </div>
            
        </div>
        
    </section>
</section>

<section class="introduce ">
    <div class="wrapper clearfix">
    <article class="intro-what">
        <section class="content">
        <div class="title">What</div>
        <p>前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前</p>
            </section>
    </article>
    <article class="intro-when">
        <section class="content">
        <div class="title">When</div>
        <p>前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前前端前端前端前端前端前端前</p>
        </section>
    </article>
    <article class="intro-how">
        <section class="content">
        
        <div class="title">How</div>
        <p>前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端</p>
        </section>
    </article>
    </div>
</section>

<section class="technology-area clearfix">
    
    <section class="it-left">
        <div class="title">
            <div class="header-main">
                <span class="first-letter">
                    THE
                </span>
                <span class="other">TECHNOLOGE OF FRONT</span>
            </div>
            <div class="header-sub">
            前端技术领域
            </div>
        </div>
        <p class="content clearfix">
            <span class="first-letter">
                    前
                </span>
            
            <span>
                端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前
            </span>
    
            
            <span>
                <img class="content-img" src="./img/content.png" alt="">
              
                端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端端前端前端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前
            </span>
            <span>
                端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端端前端前端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前
            </span>
            <span>
                端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前前端前端端前端前端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前
            </span>

            

        </p>

    
    </section>
    <section class="it-right">
        <div class="it-img">
            <img src="./img/it.png" alt="">
            <div class="img-overlay">
                <div class="overlay-content">
                    <span>前端技术</span>
                    <span>
                        前端技术前端技术
                    </span>
                </div>
            </div>
        </div>
        <div class="book-info">
            <div class="info-page">
                <div>
                    前端前端前端前端前端前端
                    前端........前端
                </div>
                <div>
                    前端前端前端前端前端前端
                    前端........前端
                </div>
                <div>
                    前端前端前端前端前端前端
                    前端........前端
                </div>
            </div>
            <div class="info-commerce clearfix">
                <div class="commerce-left clearfix">
                    <div class="number">
                        0
                    </div>
                    <div class="count">
                        <div>
                            ONE TWO
                        </div>
                        <div>
                            THREE FORE FIVE
                        </div>
                        <div>
                            hellow world
                        </div>
                    
                    </div>
                
                </div>
                <div class="commerce-right">
                    <div class="right-content">
                    world hellow world hellow world hellow world hellow world hellow world hellow world hellow world hellow
                    </div>
                </div>
            
            </div>
        </div>
    
    </section>
    

</section>

<footer class="clearfix">
    <section class="page-footer">
        <span>ife.baidu.com</span>
    </section>
    
</footer>

</body>
</html>